<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}The Wave{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="brand">
        <a href="/" class="logo">
          <img
            src="{{ url_for('static', filename='img/logo.jpg') }}"
            alt="Logo The Wave"
          />
        </a>
        <p class="title">THE WAVE</p>
      </div>

      <nav class="nav-links">
        <a href="/">Accueil</a>
        <a href="/recherche">Recherche</a>
        <a href="/suggestions">Suggestions</a>
        <a href="/profil">Profil</a>
        <a href="/deconnexion" style="color:#7b5cff">Deconnexion</a>
      </nav>
    </header>

    <main class="content">{% block content %}{% endblock %}</main>
  </body>
</html>
