{% extends "base.html" %}
{% block content %}

<h1>Découvrez de nouveaux morceaux ...</h1>
<div class="two-columns">
  <!-- COLONNE GAUCHE : morceaux d'un artiste très écouté -->
  <div class="column">
    {% if suggestion_1 %}
    <h2>
      <span style="color: #7b5cff">{{ suggestion_1.nom_artiste }}</span>, que
      vous écoutez souvent, participe aussi dans :
    </h2>

    {% if suggestion_1.morceaux %} {% for morceau in suggestion_1.morceaux %}
    <a href="morceau/{{morceau.idmorceau}}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ morceau.titre }}</h3>
          <p><i>{{ morceau.groupe }}</i></p>
        </div>
        <div class="list-card-meta">
          <span>{{ morceau.dureemorceau }}</span>
          <a href="/ajouter_a_playlist/{{ morceau.idmorceau }}" class="add-icon">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none">
              <path
                d="M12 5v14m-7-7h14"
                stroke="#7b5cff"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Vous n'avez pas encore d'écoutes!</p>
    {% endif %} {% else %}
    <h2>
      Les artistes que
      <span style="color: #7b5cff">vous écoutez souvent</span> participent aussi
      dans :
    </h2>
    <p>Vous n'avez pas d'historique d'écoutes fréquentes.</p>
    {% endif %}
  </div>

  <!-- COLONNE DROITE : morceaux joués par des groupes suivis -->
  <div class="column">
    <h2>
      Les groupes que <span style="color: #7b5cff">vous suivez</span>{% if
      suggestion_2 %}, comme
      <span style="color: #7b5cff">{{ suggestion_2[0].groupe }}</span>{% endif
      %} jouent aussi :
    </h2>

    {% if suggestion_2 %} {% for morceau in suggestion_2 %}
    <a href="morceau/{{morceau.idmorceau}}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ morceau.titre }}</h3>
          <p><i>{{ morceau.groupe }}</i></p>
        </div>
        <div class="list-card-meta">
          <span>{{ morceau.dureemorceau }}</span>
          <a href="/ajouter_a_playlist/{{ morceau.idmorceau }}" class="add-icon">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="none">
              <path
                d="M12 5v14m-7-7h14"
                stroke="#7b5cff"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Vous ne suivez pas encore de groupes !</p>
    {% endif %}
  </div>
</div>
<h1>... de nouveaux groupes ...</h1>
<div class="two-columns">
  <!-- COLONNE GAUCHE : groupes suivis par ceux aui suivent votre gorupe préferé -->
  <div class="column">
    {% if suggestion_3 %}
    <h2>
      Les abonnés qui suivent
      <span style="color: #7b5cff">{{ suggestion_3.groupe_prefere }}</span>,
      votre <span style="color: #7b5cff">groupe préféré</span>, suivent aussi :
    </h2>

    {% if suggestion_3.groupes_suivis %} {% for groupe in
    suggestion_3.groupes_suivis %}
    <a href="groupe/{{groupe.idgroupe}}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ groupe.nom }}</h3>
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Personne ne suit {{ suggestion_3.groupe_prefere }} :/</p>
    {% endif %} {% else %}
    <h2>
      Les utilisateurs qui suivent
      <span style="color: #7b5cff">votre groupe préféré</span> suivent aussi :
    </h2>
    <p>Vous n'avez pas encore d'écoutes!</p>
    {% endif %}
  </div>

  <!-- COLONNE DROITE :  Groupes suivis par ceux qui suivent les mêmes groupes que vous en genéral -->
  <div class="column">
    <h2>
      Les utilisateurs qui écoutent les mêmes
      <span style="color: #7b5cff">morceaux que vous écoutez</span> suivent
      aussi :
    </h2>

    {% if suggestion_4 %} {% for groupe in suggestion_4 %}
    <a href="groupe/{{groupe.idgroupe}}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ groupe.nom }}</h3>
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Vous êtes à jour avec les groupes de votre style !</p>
    {% endif %}
  </div>
</div>

<h1>... ou des nouvelles playlists !</h1>
<div class="two-columns">
  <!-- COLONNE GAUCHE : playlist que contiennent les morceaux écoutés par les utilisateurs -->
  <div class="column">
    <h2>
      Voici les playlists qui contiennent les
      <span style="color: #7b5cff">morceaux que vous écoutez</span> :
    </h2>

    {% if suggestion_5 %} {% for playlist in suggestion_5 %}
    <a href="playlist/{{ playlist.idplaylist }}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ playlist.titre }}</h3>
          <p><i>@{{ playlist.pseudocreateur }}</i></p>
        </div>
        <div class="list-card-meta">
          <span
            >{% if playlist.nbmorceaux == 1 %} 1 morceau {% else %} {{
            playlist.nbmorceaux }} morceaux {% endif %}</span
          >
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Les morceaux que vous écoutez ne sont dans aucune playlist :/</p>
    {% endif %}
  </div>

  <!-- COLONNE DROITE : morceaux joués par des groupes suivis -->
  <div class="column">
    <h2>
      Voici les playlists créees par les utilisateurs
      <span style="color: #7b5cff">que vous suivez</span> :
    </h2>

    {% if suggestion_6 %} {% for playlist in suggestion_6 %}
    <a href="playlist/{{ playlist.idplaylist }}" class="list-card-link">
      <div class="list-card">
        <div class="list-card-info">
          <h3>{{ playlist.titre }}</h3>
          <p><i>@{{ playlist.pseudocreateur }}</i></p>
        </div>
        <div class="list-card-meta">
          <span
            >{% if playlist.nbmorceaux == 1 %} 1 morceau {% else %} {{
            playlist.nbmorceaux }} morceaux {% endif %}</span
          >
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <p>Vos suivis n'ont pas crée de playlist :/</p>
    {% endif %}
  </div>
</div>
{% endblock %}
